<form>
    <div class="form-group">
        <label>{{ localize "SimpleTickers.Settings.defaultColor.name" }}</label>
        <div class="form-fields">
            {{colorPicker name="defaultColor" value=defaultColor}}
            <a data-action="reset-property" data-property="defaultColor">
                <i class="fa-solid fa-redo"></i>
            </a>
        </div>
        <p class="notes">{{localize "SimpleTickers.Settings.defaultColor.hint"}}</p>
    </div>
    <table class="ticker-types">
        <thead>
            <tr>
                <th>{{localize "SimpleTickers.Settings.tickerColors.name"}}</th>
                <th>{{localize "SimpleTickers.Settings.tickerColors.color"}}</th>
                <th class="controls"><a data-action="add-ticker-color"><i class="fa-solid fa-plus fa-fw"></i></a></th>
            </tr>
        </thead>
        <tbody>
            {{#each tickerColors as |type idx|}}
                <tr data-ticker-id="{{type.id}}">
                    <td>
                        <input type="hidden" name="tickerColors.{{idx}}.id" value="{{type.id}}"/>
                        <input type="text" name="tickerColors.{{idx}}.name" value="{{type.name}}"/>
                    </td>
                    <td class="color">{{colorPicker name=(concat "tickerColors." idx ".color") value=type.color}}</td>
                    <td class="controls"><a data-action="remove-ticker-color"><i class="fa-solid fa-trash fa-fw"></i></a></td>
                </tr>
            {{/each}}
            {{#unless tickerColors}}
                <tr>
                    <td colspan="3">{{localize "SimpleTickers.Empty"}}</td>
                </tr>
            {{/unless}}
        </tbody>
    </table>
    <div class="form-group buttons">
        <button type="submit">
            <i class="fa-regular fa-save"></i> {{localize "Save"}}
        </button>
        <button type="reset" name="reset">
            <i class="fa-solid fa-undo"></i> {{localize "Reset Changes"}}
        </button>
    </div>
</form>