<section 
    class="ticker-panel {{#if @root.options.editable}}editable{{/if}} {{verticalEdge}}"
    style="--offset: {{offset}}">
    {{#if GMTickers.[0]}}
        <div class="list-container">
            <a class="ticker-label" data-target="gm-ticker-list" data-action="collapse">GM Tickers</a>
            <div id="gm-ticker-list" class="ticker-list gm-ticker-list">
                {{#each GMTickers as |gmticker|}}
                    <div class="ticker-entry gm-ticker-entry" data-id="{{gmticker.id}}">
                        <div class="ticker" style="--areas: {{gmticker.max}}; --filled: {{gmticker.value}}; --ticker-color: {{gmticker.color}}">
                            {{#each gmticker.spokes}}
                                <div class="spoke" style="--index: {{ this }}"></div>
                            {{/each}}
                        </div>
                        <div class="name-section">
                            {{#if @root.options.isGM}}
                                <div class="controls">
                                    <a data-action="delete-ticker"><i class="fas fa-trash"></i></a>
                                    <a data-action="edit-ticker"><i class="fas fa-edit"></i></a>
                                </div>
                            {{/if}}
                            <div class="name">{{#if gmticker.private}}<i class="fas fa-eye-slash"></i>{{/if}} {{gmticker.name}}</div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    {{/if}}
    <div class="list-container {{#if (not @root.options.showPersonal)}}hidden{{/if}}">
        <div class="ticker-list user-ticker-list">
            <a class="ticker-label" data-action="collapse">Your Tickers</a>
            {{#each UserTickers as |userticker|}}
                    <div class="ticker-entry user-ticker-entry {{#if (not userticker.ownedByUser)}}hidden{{/if}}" data-id="{{userticker.id}}">
                        <div class="ticker" style="--areas: {{userticker.max}}; --filled: {{userticker.value}}; --ticker-color: {{userticker.color}}">
                            {{#each userticker.spokes}}
                                <div class="spoke" style="--index: {{ this }}"></div>
                            {{/each}}
                        </div>
                        <div class="name-section">
                            <div class="controls">
                                <a data-action="delete-ticker"><i class="fas fa-trash"></i></a>
                                <a data-action="edit-ticker"><i class="fas fa-edit"></i></a>
                            </div>
                            <div class="name">{{userticker.name}}</div>
                        </div>
                    </div>
            {{/each}}
        </div>
    </div>
    <a data-action="add-ticker"><i class="fas fa-plus"></i> {{localize "SimpleTickers.AddTicker"}}</a>
</section>